<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Slim 3 - {{ pageTitle }}</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='{{ base_url() }}/public/css/style.css' rel='stylesheet' type='text/css'>
    <link href='{{ base_url() }}/public/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet'
          type='text/css'>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url() }}/public/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ base_url() }}/public/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url() }}/public/favicon.ico">


    {% if (url) and (pageTitle != "Homepage") %}
        <meta http-equiv="refresh" content="3;url={{ url }}"/>
    {% endif %}
</head>