{% extends "layout/layout.twig" %}

{% block body %}

    <section class="section" style="margin-top:100px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <h1 class="text-center">{{ word }}</h1>
                    <p class="text-center">{{ base_url() }}/{{ word }}</p>
                    <div>Redirect in <span id="redirectCountdown"></span> seconds!</div>
                    {% if (passwordProtected) %}
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <button id="checkPasswordButton" data-word="{{ word }}" type="submit"
                                class="btn btn-default btn-sm btn-success btn-block">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Submit
                        </button>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p><strong>Url:</strong> <a href="https://anon.to/?{{ url }}" target="_blank">{{ url }}</a>
                            </p>
                            <p><strong>Expires in:</strong> {{ expiresIn }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}